h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
    font-style: unset;
    line-height: normal;
    text-align: center;
    text-decoration: dotted;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#maroon {
    background-color: maroon;
}